[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    */migrations/*,
    */settings/*,
    venv,
    .venv,
    env,
    build,
    dist
max-complexity = 10
ignore =
    # Whitespace before ':' (conflicts with black)
    E203,
    # Line break before binary operator (conflicts with black)
    W503,
    # Ignore complexity
    C901,
per-file-ignores =
    __init__.py:F401
    */tests/*:F401,F811
