/**
 * App Specific Styles
 * Styles spécifiques à l'application (non disponibles dans les composants communs)
 */

/* Leaflet map fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}
